<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/general.css">
  <title>Home</title>
</head>

<body>
  <div class="home-container">
    <table>
      <caption>
        <%= title %>
      </caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Phone #</th>
          <th>Loan-amount(Php)</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% listPersons.forEach(person=> { %>
          <tr>
            <td>
              <%= person.firstname%>
                <%= person.lastname %>
            </td>
            <td>
              <%= person.address %>
            </td>
            <td>
              <%= person.phone_number %>
            </td>
            <td class="amount-td">
              <%= Number(person.amount).toLocaleString(); %>
            </td>
            <td>
              <div class="btn-container">
                <%- include("components/deleteBtn", {personId: person.person_id}) %>
                  <%- include("components/editLinkBtn",{personId: person.person_id}) %>
              </div>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>

    <div class="links">
      <a href="/addPerson">add person</a>
      <a href="">search person</a>
    </div>
  </div>
</body>

</html>