<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <link rel="stylesheet" href="/general.css">
  <title>Home</title>
</head>

<body>
  <%- include("components/header") %>

    <div class="home-container">
      <div>
        <h1>
          <%= title %>
        </h1>
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone #</th>
                <th>Loan-amount(Php)</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <% listPersons.forEach(person=> { %>
                <tr>
                  <td>
                    <%= person.firstname %>
                      <%= person.lastname %>
                  </td>
                  <td>
                    <%= person.address.split("").slice(0, 18).join("") %>...
                  </td>
                  <td>
                    <%= person.phone_number %>
                  </td>
                  <td class="amount-td">
                    <% let msg %>
                      <% if (Number(person.amount) !==0) { %>
                        <%= Number(person.amount).toLocaleString() %>
                          <% } else { %>
                            <% msg="PAID" %>
                              <%= msg %>
                                <% } %>
                  </td>
                  <td>
                    <div class="btn-container">
                      <%- include("components/deleteBtn", {personId: person.person_id}) %>
                        <%- include("components/editLinkBtn",{personId: person.person_id}) %>
                          <%- include("components/payLinkBtn", {personId: person.person_id, msg: msg}) %>
                            <%- include("components/viewLinkBtn", {personId: person.person_id}) %>
                    </div>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="links">
        <a href="/addPerson">add person</a>
        <a href="">search person</a>
      </div>
    </div>

    <%- include("components/footer") %>
</body>

</html>