<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <title>Document</title>
</head>

<body>

  <table>
    <caption>
      <%= title %>
    </caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone #</th>
        <th>Loan-amount(Php)</th>
      </tr>
    </thead>
    <tbody>
      <% listPersons.forEach(person=> { %>
        <tr>
          <td>
            <%= person.firstname%>
              <%= person.lastname %>
          </td>
          <td>
            <%= person.address %>
          </td>
          <td>
            <%= person.phone_number %>
          </td>
          <td>
            <%= person.amount %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</body>

</html>