<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/general.css">
  <link rel="stylesheet" href="/viewDetails.css">
  <title>
    <%= title %>
  </title>
</head>

<body>

  <%- include("components/header") %>

    <div class="details-container">
      <div class="details-item-container">
        <h1>Details</h1>
        <div class="form-item">
          <h2> Name: </h2>
          <p>
            <%= details.firstname%>
              <%= details.lastname%>
          </p>
        </div>
        <div class="form-item">
          <h2>Address:</h2>
          <p>
            <%= details.address %>
          </p>
        </div>
        <div class="form-item">
          <h2>Phone #:</h2>
          <p>
            <%= details.phone_number %>
          </p>
        </div>
        <div class="form-item">
          <h2>Remaining loan:</h2>
          <p>
            <% let msg%>
              <% if (Number(details.amount) !==0) { %>
                Php <%= Number(details.amount).toLocaleString(); %>
                  <% } else { %>
                    <% msg="PAID" %>
                      <%= msg %>
                        <% } %>
          </p>
        </div>
      </div>

      <div class="links">
        <a href="/">list of persons</a>
        <a href="">search person</a>
      </div>
    </div>

    <%- include("components/footer") %>

</body>

</html>